services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: pg
      POSTGRES_PASSWORD: pg
      POSTGRES_DB: payments
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
